#kale_page_options_meta_box {background-color: #eee8f3;}
#kale_page_options_meta_box h2 {background-color: #e2d7ea;}
#kale_page_options_meta_box li {list-style: none;background-color: #f4f1f7;padding: 3px;}